SITE_NAME=
NEXT_PUBLIC_SITE_NAME=
PAGE_TITLE=
NEXTAUTH_URL=
NEXT_PUBLIC_SERVER_URL=
MONGODB_URI=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_IMGBB_API_KEY=
NEXT_PUBLIC_YOUTUBE_API=
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=
ADMIN_EMAIL=