SITE_NAME=
NEXT_PUBLIC_SITE_NAME=
NEXTAUTH_URL=
MONGODB_URI=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_IMGBB_API_KEY=
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=
ADMIN_EMAIL=
YOUTUBE_API_KEY=
NEXT_PUBLIC_SITE_URL=
